@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@eonasdan/tempus-dominus/dist/css/tempus-dominus.css';

body {
    background: rgb(248, 248, 252);
}

label.required::after {
    content: " *";
}

a {
    text-decoration: none;
}

a>h1 {
    color: #000;
}

.navlink {
    color: #000;
}

.navlink:hover {
    text-decoration: underline;
}

.dropdown-toggle {
    color: #000;
}

.link-compte:hover {
    text-decoration: underline;
}
